@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;

.footer {
  @extend %container;
  padding-block: 2rem;
  background: url("../images/bg-pattern-footer-desktop.svg") no-repeat top left /
      auto,
    linear-gradient(var(--off-white), var(--off-white));

  &__top {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 1.5rem;
    border-bottom: 1px solid v("grey-dark");

    @media (width <= 960px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
}

.social {
  justify-self: end;
  display: flex;
  align-items: center;

  @media (width <= 960px) {
    justify-self: center;
  }

  &__link {
    --color: var(--grey-dark);
    @include size(2rem);
    padding: 0.5rem;
    color: v("color");
    transition: color 0.3s ease;

    &:hover {
      --color: var(--off-black);
    }
  }

  &__icon {
    @include size(1.5rem);
    vertical-align: middle;
  }
}
