@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;

.section {
  @extend %container;
  padding-block: fluid-rem(4.5rem, 5.5rem);

  @media (width <= 960px) {
    text-align: center;
  }

  &__title {
    --color: var(--white);
    font-size: fluid-rem(2.5rem, 3.375rem);
    line-height: 1.03703704;
    letter-spacing: 0.01em;
    color: v("color");
  }
}
