@use "../functions" as *;
@use "../helpers" as *;
@use "../mixins" as *;

.section--intro {
  --distance: 75%;
  padding-block-start: calc(#{fluid-rem(4.5rem, 5.5rem)} + 5rem);
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: linear-gradient(
    var(--off-black) var(--distance),
    transparent var(--distance)
  );
  position: relative;

  @media (width <= 960px) {
    --distance: 100%;
    --container: 425px;
    padding-block-start: 5rem;
    grid-template-columns: 1fr;
  }

  @media (width <= 475px) {
    padding-inline: 0;
  }

  .section__header {
    z-index: 5;

    @media (width <= 960px) {
      transform: translateY(calc((1.5rem + 1px) * -1));
      padding-inline: 1.5rem;
    }
  }

  .section__image {
    img {
      width: 100%;
    }

    @media (width <= 960px) {
      order: -1;
      z-index: 10;
    }
  }

  .section__title {
    font-size: fluid-rem(2.75rem, 4.5rem, 960 1440);
    line-height: 1;
    margin-bottom: 1.5rem;

    &::before {
      content: "";
      display: block;
      margin-bottom: 1em;
      width: 9.375rem;
      height: 1px;
      background-color: v("off-white");

      @media (width <= 960px) {
        background-color: transparent;
      }
    }
  }

  .section__description {
    color: v("off-white");
    margin-bottom: 2rem;
  }

  .section__decoration {
    pointer-events: none;
    position: absolute;
    user-select: none;
    // opacity: 0;

    &--right {
      top: 0;
      right: 0;
      z-index: 10;

      @media (width <= 960px) and (width > 475px) {
        width: min(20rem, 100%);
      }

      @media (width <= 475px) {
        top: 100%;
        transform: translateY(-45%);
      }
    }

    &--left {
      left: 0;
      bottom: 0;
      transform: translateY(20%);

      @media (width <= 960px) {
        transform: translateY(50%);
      }

      @media (width <= 475px) {
        bottom: unset;
        top: calc(50% + #{fluid-rem(-4.75rem, 5.5rem, 320 475)});
        transform: translateY(0%);
      }
    }
  }
}
