<header class="header">
  <a href="/" class="homelink">
    <icon
      src="images/logo.svg"
      class="homelink__logo"
      role="presentation"
    ></icon>
    <span>insure homelink</span>
  </a>
  <nav class="nav" aria-label="header-nav">
    <menu class="menu">
      <li class="menu__item">
        <a href="#" class="menu__link">How we work</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Blog</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Account</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link btn">View plans</a>
      </li>
    </menu>
  </nav>
  <button class="menu-toggle">
    <icon
      src="images/icon-hamburger.svg"
      class="menu-toggle__icon menu-toggle__icon--burger"
    ></icon>
    <icon
      src="images/icon-close.svg"
      class="menu-toggle__icon menu-toggle__icon--close"
    ></icon>
    <span>menu</span>
  </button>
</header>
